.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
}
.clearfix::after {
    clear: both;
}

.page {
    background-color: #e8e8e8;
    padding: 10px;
    margin: 0 auto;
    width: 940px;
}

.posts {
    width: 600px;
    float: left;
}

aside {
    background-color: #fffbe4;
    border: 1px solid #c9bc8f;
    float: right;
    padding: 10px;
    width: 200px;
}

aside h3 {
    margin: 0;
}

h1 {
    float: left;
    margin: 0 0 20px;
}

.timestamp {
    background-color: #000;
    color: #FFF;
    float: right;
    font-size: 0.9em;
    margin-top: 10px;
    padding: 5px 10px;
}

p {
    clear: both;
}
