h1 {
  background-color: #1d9ac0;
  color: #fff;
  padding: 10px;
  text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.status {
    color: white;
  display: inline-block;
  font-weight: bold;
  padding: 7px 10px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}

.failed {
  background-color: #bd2c00;
}

.shipped {
  background-color: #6cc644;
}

.processing {
  background-color: #fc9800;
}
