body {
  padding: 30px;
}

form {
  font-size: 0.8em;
  padding: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input {
  border: 1px solid #ccc;
  box-shadow: inset 2px 2px 2px #eee;
  font-size: 0.9em;
  padding: 2px 5px;
}

.container {
  height: 300px;
  perspective: 500px;
  position: relative;
  width: 200px;
}

.card {
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 100%;
}

.card section {
  backface-visibility: hidden;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
}

.card.flipped {
  transform: rotateY(180deg);
}

.signup {
  transform: rotateY(180deg);
}
