ul {
  list-style: none;
  padding: 0;
}

li {
  float: left;
  margin-left: 10px;
  position: relative;
}

li:nth-child(even) {
  transform: rotate(5deg);
}

li:nth-child(odd) {
  transform: rotate(-5deg);
}

li:hover {
  transform: scale(1.3);
  z-index: 1;
}

span {
  color: #153755;
  display: block;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}
