label {
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  width: 90px;
}

input, textarea {
  border: 1px solid #CCC;
  box-shadow: inset 2px 2px 2px #EEE;
  font-size: 0.9em;
  padding: 2px 5px;
  display: inline-block;
  width: 200px;
}

textarea {
  height: 100px;
}
