body {
  width: 960px;
  margin: 20px auto;
}

label {
  display: none;
}

input {
  display: block;
  border-radius: 3px 3px 0 0;
  border: 1px solid #999;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  font-size: 0.8em;
  padding: 5px;
  font-weight: bold;
}

input[type="password"] {
  border-radius: 0 0 3px 3px;
  border-top: none;
}

::-webkit-input-placeholder {
  color: #666;
  font-style: italic;
  font-weight: normal;
}

  ::-moz-placeholder {
  color: #666;
  font-style: italic;
  font-weight: normal;
}

:-ms-input-placeholder {
  color: #666;
  font-style: italic;
  font-weight: normal;
}

button {
  background-color: #6da033;
  background-image: linear-gradient(to top, #6da033 47%, #87c442 55%);
  border: 1px solid #588129;
  border-radius: 13px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 5px;
  padding: 5px 10px;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
}

button:hover {
  background-color: #618f2d;
  background-image: linear-gradient(to top, #618f2d 47%, #79b238 55%);
  border-color: #4e7324;
}

button:active {
  background-color: #618f2d;
  background-image: none;
  border-color: #405e1e;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.15);
}

.no-placeholder input {
  border-radius: 3px;
  border-top: 1px solid #999;
}

.no-placeholder label {
  display: block;
}
